common --registry="https://raw.githubusercontent.com/dejwk/roo-registry/main/" --registry="https://bcr.bazel.build"

build --copt -DROO_TESTING
# Avoid libunwind/forced-unwind crashes in the POSIX FreeRTOS port tests.
build --copt -fno-unwind-tables
build --copt -fno-asynchronous-unwind-tables

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
